* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center;

  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
}

.screen1 {
  width: 42.8rem;
  height: 42.4rem;

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  text-align: center;

  background-color: #FFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.screen1 h1 {
  padding: 0 2rem;
  margin-bottom: 1.4rem;
}


.screen1 p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;

  margin-bottom: 2rem;
}

#openCookie {
  border: none;
  background-color: #FFF;
  cursor: pointer;
}

#openCookie:hover {
  animation-name: shakeit;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
}

@keyframes shakeit {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: .5rem;
  }

  50% {
    margin-left: 0;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hide {
  display: none;
}

.screen2 {
  width: 42.8rem;
  height: 56.4rem;

  padding: 4.8rem 6.4rem 6.4rem;
  text-align: center;

  background-color: #FFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.screen2 h1 {
  margin-bottom: 1.7rem;
}

.screen2 p {
  background: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  padding: 1rem;
  margin-bottom: 1.7rem;

  font-family: 'Dancing Script';
  font-size: 2.4rem;
  line-height: 2.9rem;

  animation: showup 1s reverse backwards;
}

#openedCookie {
  margin: 4.3rem auto;
}

#btnReset {
  border: none;
  background: #FF9500;
  border-radius: 4px;
  padding: 1.6rem;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;

  cursor: pointer;
}

#btnReset:hover {
  background: #d67e04;
}

@keyframes showup {
  100% {
    transform: translateY(35rem);
    opacity: 0%;
    scale: 25%;
  }
}