* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-text: 'Roboto', sans-serif;
  --fs-text: clamp(11rem, 9rem + 5vw, 12.6rem);

  --base-color: 194;
  --color-primary: hsla(var(--base-color), 6%, 21%, 1);
  --color-secondary: hsla(var(--base-color), 9%, 89%, 1);
  --color-press: hsla(var(--base-color), 97%, 31%, 1);
  --color-hold1: hsla(var(--base-color), 6%, 79%, 1);
  --color-hold2: hsla(var(--base-color), 97%, 21%, 1);
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-text);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.time {
  text-align: center;
}

span {
  font-size: var(--fs-text);
  line-height: 14.8rem;
  color: var(--color-primary);
}

button {
  border: none;
  cursor: pointer;
}

.buttons-timer {
  margin-top: 1.7rem;
  display: flex;
  justify-content: center;
  gap: clamp(2rem, 1rem + 5vw, 4rem);
}

.buttons-timer button {
  background: none;
}

.buttons-timer svg path {
  fill: var(--color-primary);
}

.buttons-timer button:hover svg path {
  fill: var(--color-press);
}

.buttons-sound {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(2rem, 1rem + 5vw, 3.2rem);

}

.buttons-sound button {
  border-radius: 2.4rem;
  background: var(--color-secondary);
  width: 13.2rem;
  height: 15.2rem;
}

.hide {
  display: none;
}

.buttons-sound .on {
  background: var(--color-press);
}

.buttons-sound .on:hover {
  background: var(--color-hold2);
}

.buttons-sound .on svg path {
  fill: var(--color-secondary)
}

.buttons-sound button:hover {
  background: var(--color-hold1);
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(4rem, 1rem + 10vw, 19.1rem);
  }

  span {
    font-size: var(--fs-text);
    line-height: 14.8rem;
    color: var(--color-primary);
  }
}